.App {
	padding: 30px;
	display: flex;
}

.App > div {
	margin-right: 50px;
}

.todoList {
	border: 1px solid black;
	border-radius: 5px;
	padding: 15px;
	background-color: blanchedalmond;
}

.tasksList {
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	background-color: rgb(255, 223, 205);
	margin-top: 15px;
}

.task {
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	background-color: rgb(255, 223, 205);
	margin-bottom: 3px;
	font-weight: bold;
}

.list {
	list-style: none;
	padding: 0;
}

.task-done {
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	background-color: rgb(205, 255, 253);
	margin-bottom: 3px;
	text-decoration: line-through;
}

.tasksList-info {
	display: flex;
	justify-content: space-around;
    align-items: center;
}

.btn-active {
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px;
	background-color: rgb(31, 52, 44);
	margin-bottom: 3px;
	font-weight: bold;
	color: aliceblue;
}
.btn {
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px;
	background-color: rgb(205, 255, 253);
	margin-bottom: 3px;
	font-weight: bold;
}

.btns-container {
	display: flex;
	justify-content: space-between;
}

.inputError {
	border: 2px solid red;
	outline: none;
}

.info {
	border: 1px solid black;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
    line-height: 1.1;
}
